/*
Author: Sara Alkurdy
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/*--------------------------------------------------
[1. Start Loading Page ]
--------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

hr {
    width: 70rem;
}
.btn
{
    border-radius: 40px;
}
.icon {
    font-size: 35px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #191919;
}

h1{
    font-weight: 700;
}


.header {
    background: url(../images/Doctor.png);
    background-size: cover;
    height: 600px;

}

.header .header-text {
    margin-top: 25vh;
}

/* ----------- service ----------------*/

.service {
    background-color: #3cbbbb;
    position: relative;
    color: #fff;
}

.servicebox {
    position: relative;
    padding: 50px 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.servicebox p {
    padding: 0;
    margin: 0;
}

.servicebox:hover {
    transition: all 0.5s ease-in-out;
    background-color: #37c3a8;
}

/*----------------------------*/

.choose-us {
    position: relative;
    padding: 100px -1;
}

.choose-us .media-body {
    position: relative;
}

.card{
    border: none;
}

.card-header {
    border: none;
    background: none;
}


/* .choose-us .media-body h3
{
    margin-left: 85px;
}
.choose-us .media-body p
{
    width: 95%
}
.choose-us .media-body img
{
    position: absolute;
    top: 26px;
    left: -5px;
    width: 75px;
} */

/* ---------------------------- */

.count-up {
    background: url(../images/Count-up.png);
    background-size: cover;
    padding: 100px 0;
}

.count-box {
    color: #fff;
}
.count-box h2 {
    position: relative;
}
.count-box h2 + p {
    /* content: "";
    position: absolute;
    height: 3px;
    width: 63px;
    color: #fff;
    background: #fff;
    left: 136px;
    bottom: 70px; */
     /* width: 10px !important; */
     height: 3px;
     background-color: #fff;
     /* text-align: center; */
     /* padding: 0 50%; */
     /* margin: 0 53px; */
     overflow: hidden;
     /* max-width: 72px; */
     width: 4rem !important;
     position: absolute;
     top: 70%;
     left: 41%;
}

.count-box img {
    width: 80px;
}

.counter {
    /* display: table-cell; */
    /* margin:1.5%; */
    font-size: 50px;
    /* width:200px; */
    /* border-radius: 50%; */
    /* height:200px; */
    /* vertical-align: middle; */
}
/*-------------------------------*/
.doctor-works .box{
    overflow: hidden;
    cursor: pointer;
}

.doctor-works .works-box img:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out 0s;
}
/* --------------------------------- */

.gallery {
    background: url(../images/Gallery.png);
    background-size: cover;
    color: #fff;
}

.paragraph {
    font-size: 20px;
}

.newsletter {
    position: relative;
    padding: 25px 0;
    background: #e2e2e2
}



.newsletter p {
    margin-bottom: 0;
}

/* --------------------------------- */

footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card-body h6 {
    font-weight: 700;
}

.card-body .btn-link {
    color: #e2e2e2;
}

.fa-caret-right:before {
    content: "\f0da";
    color: #0087be;
}

.list-inline .list-inline-item a i{
    color: #fff;
}

.footerletter {
    position: relative;
    padding: 25px 0;
    background: #1a1a1a;
    color: #4f4646;
}

footer {
    background-color: #191919;
    color: #fff;
}

input {
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #5d5252 !important;
    border: none;
    box-shadow: none;
}

.form-control {
    display: block;
    /* width: 0; */
    height: calc(1.5em + 0.75rem + 2px);
    /* padding: 0; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.form-control:focus{
    background-color: transparent;
}



.card>.card-header {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .card>.card-header button {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: left;
    color: #494949;
    background: #e2e2e2;
    margin: 5px 0;
    border-radius: 40px;
  }
  
  .card>.card-header button:after {
      content: "";
      position: relative;
      top: 6px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      padding: 0px 9px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      float: left;
      transition: transform .25s linear;
      -webkit-transition: -webkit-transform .25s linear;
    }
    
  .card>.card-header button[aria-expanded="true"] {
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 40px;
    }
    
  .card>.card-header button[aria-expanded="true"]:after {
    content: "\f35a";
    transform: rotate(-95deg);
    font-family: "Font Awesome 5 Free";
  }

  
  .card>.card-header button[aria-expanded="false"]:after {
    content: "\f35a";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "Font Awesome 5 Free"; 
 }